#renderCanvas,body{
    width: 100%;
    height: 100%;
}
#datgui { position: absolute; top: 0px;  right: 0px;  

}

#my-gui-container {
	position: absolute;
    left: 600px;   /* position inside relatively positioned parent */
	top: 150px;
    z-index: 0;   /* adjust as needed */
}